<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/css/index.css">
	<link rel="icon" type="image/svg+xml" href="/favicon.svg">
</head>
<body>
	<nav>
		<a href="/">Home</a>
		<a href="/index.html">Articles</a>
		<a href="/about.html">About</a>
	</nav>
	{{{content}}}
	<footer>Copyright {{year}} Aner Lucero</footer>
</body>
</html>
